#col-2 {
  background-color: black;
}
#con-col-2 {
  background-color: black !important;
}

a:hover {
  background-color: white;
  border-radius: 5%;
  background-origin: 10%;
}
.nav-link {
  display: block;
  padding: 1.5rem 0rem !important;
}
#passcodes {
  text-align: center;
  position: relative;
  width: 90%;
}
a {
  color: #808080;
  text-decoration: none;
  background-color: transparent;
  padding: 5px;
}
#um {
  font-size: 1.3rem;
  padding-top: 65px;
  padding-bottom: 5px;
}
.side-bar {
  height: 100vh;

  position: relative;
}
