.huhu {
  text-align: center;
  position: relative;
  width: 90%;
  padding-top: 5px;
  border-style: dashed !important;
  border: 3px #333;
  border-radius: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 5px;
}
#tbl {
  border-collapse: collapse;
  width: 90% !important;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
#butt {
  background-color: #007bff;
  color: whitesmoke;
}
#footer {
  padding: 1rem 17rem;
}
#header {
  padding-right: 18rem;
}
#rep {
  font-size: 0.64rem;
}
