.grid {
  display: grid;
  width: 100%;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 3fr 3fr; */
  /*  5   */
}
img {
  margin-top: 10%;
  border-radius: 2%;
  width: 100%;
  height: auto;
}
#hehu {
  position: sticky;
  z-index: 999 !important;
}
#navbar_content {
  color: white;
  font-weight: 100;
}
#navbar_content:hover {
  color: black;
}

.nav_bar {
  z-index: 999 !important;
  position: sticky !important;
  top: 0;
  color: black;
}

#grad1 {
  height: 1750px;
  /* background-color: #51c9f5; */
  /* background: linear-gradient(-45deg, #0c9ed4 0%, #51c9f5 100%);*/

  /* background-image: linear-gradient(
    to bottom,
    #0c9ed4 35%,
    rgb(212, 212, 212) 10%
  ); */
  background-image: linear-gradient(
    to bottom,
    #1a2225 35%,
    rgb(212, 212, 212) 10%
  );
  /* Standard syntax (must be last)  */
  /* background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0) 10%,
    #3e3d3df2 10%
  ); */
}
#item {
  margin-top: 30%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 150 !important;
}
#item_tagline {
  margin-left: 12%;
  font-size: 20px;
  font-weight: 600 !important;
}
#desc {
  padding-bottom: 15px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.49);
  margin-bottom: 0px;
}

.line_break {
  margin-top: 5%;
  background: #ffffff;
}
#primary_button {
  color: #666666 !important;
  font-weight: 600 !important;
  margin-right: 2%;
  /* //border-radius: 500px; */
  -webkit-border-radius: 500px;
  /* border-radius: 35%; */
}
#secondary_button {
  color: #ffffff !important;
  font-weight: 600 !important;
  margin-right: 2%;
  /* //border-radius: 500px; */
  -webkit-border-radius: 500px;
  /* border-radius: 35%; */
}
#secondary_button :hover {
  text-decoration: none;
}
#ternary_button {
  /* color: #ffffff !important; */
  font-weight: 600 !important;
  margin-right: 2%;
  /* //border-radius: 500px; */
  -webkit-border-radius: 500px;
  /* border-radius: 35%; */
}

#toolBar {
  padding-left: 50px;
  display: flex;
  justify-content: center;
}
/* #secondComponent {
  width: 90%;
} */
