#top_heading {
  margin-top: 1%;
  font-size: 40px;
  font-weight: 150 !important;
}
.searchField {
  height: 33px;
  font-size: 1rem;
  font-weight: 100;
  border-top: none;
  border-left: none;
  border-right: none;
  border: none;
  background: none;
  border-radius: 500px;
}

.searchField:focus {
  outline: none;
}
.labelfield:focus {
  outline: none;
}
.labelfield {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  padding-bottom: 4px;
}
#formlable:focus {
  outline: none;
}
#formlable {
  border-top: none;
  border-left: none;
  border-right: none;
  background: inherit;
  border-width: thin;
}
#table_head_weight {
  font-weight: 100 !important;
  border-top: 0px;
}
#fontAwesomSearch {
  width: 25px;
  /* margin-left: 5%; */
  padding: 5px;
  height: auto;
  border-width: thin;
  /* padding: 0.6rem; */
  color: #d4d0d0;
  background: #343a40;
  border-radius: 50%;
  font-weight: 100;
  border-color: #ffffff;
  border-style: solid;
}
.activeLinks {
  color: white !important;
}
.activeLinks:hover {
  color: black !important;
  /* border: 10px, 10px; */
}
