#top_heading {
  margin-top: 4%;
  font-size: 40px;
  font-weight: 150 !important;
}
.searchField {
  margin-left: 35%;
  width: 20%;
  height: 33px;
  font-size: 1rem;
  font-weight: 100;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
}

.searchField:focus {
  outline: none;
}
#table_head_weight {
  font-weight: 100 !important;
  border-top: 0px;
}
#fontAwesomSearch {
  /* width: 65%; */
  height: auto;
  margin-bottom: 40%;
  padding: 0.6rem;
  color: gray;
  background: white;

  border-radius: 20%;
  font-weight: 100;

  border-radius: 50%;
  border-color: #c3c3c3;
}
.activeLinks {
  color: white !important;
}
.activeLinks:hover {
  color: black !important;
  /* border: 10px, 10px; */
}
