a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: whitesmoke;
  border-bottom: 1px solid Black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul.menu li a:before,
ul.menu li .item:before,
ul.menu li .separator:before {
  content: "\2022";
  font-family: FontAwesome;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 2.5em;
  font-weight: normal;
}
ul {
  list-style: none;
}

#items {
  font-size: 20px;
  transform: translate(40px, 15px);
}

#inv {
  font-size: 30px;
}

.p-2 {
  padding: 20px;
  transform: translate(60px, 20px);
}
#page {
  height: 790px;
  width: 360px;
}
.navbar-nav {
  margin-top: 0px;
}
